  body {
    margin: 0px;
  }
  
  .photo {
    max-width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
 .date {
    text-align: center;
    color: white;
    size: 40px;
  }
  
  p {
    color: white;
    text-align: center;
    font-size: 40px;
  }
  
  .div1 {
    background-image: url('/gray_image2.jpg');
    background-color: #cccccc;
    background-size: cover;
  }
  
  .div2 {
    background-color: #252525;
    padding: 50px;
    padding-top: 1px;
    padding-bottom: 20px;
  }
  
  audio {
    max-width: 150%;
    height: 50px;
    align-items: center;
    padding-left: 33%;
  }
  
  .dino {
    max-width: 100%;
  } 