@media screen and (max-width: 1028px){
    img {
        max-width: 100%;
        height: auto;
    }

    audio {
        display: none;
    }
}

@media screen and (min-width: 1028px){
    body {
        display: none;
    }
}